@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
:root {
    --font-color: #222;
    --white: #fff;
    --bg-header__top: rgb(248, 153, 56);
    --hover--color: rgb(21, 21, 219);
    --bg-header__bottom: rgb(78, 44, 120);
    --hover--font__color: rgb(243, 131, 19);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.header--div__top {
    display: flex;
    justify-content: space-between;
    padding: 8px 70px;
    background: var(--bg-header__top);
    display: none;
}

p.header--top__hotline {
    font-size: 14px;
    color: var(--white);
    font-weight: 600;
}

.header--top__icons {
    display: flex;
}

a.header--icons__logo {
    font-size: 14px;
    color: var(--white);
    padding: 0 6px;
}

a.header--icons__logo:hover {
    color: var(--hover--color);
}

.header--div {
    display: flex;
    justify-content: space-between;
    padding: 16px 72px;
    align-items: center;
    background-color: var(--bg-header__bottom);
}

a.header--div__logo {
    width: 12rem;
    display: block;
}

img.header--logo__img {
    width: 100%;
    object-fit: cover;
}

.header--div__navbar {}

ul.header--navbar__ul {
    display: flex;
    list-style: none;
}

a.header--li__link,
p.header--li__link {
    padding: 0 8px;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white);
    font-weight: 600;
    opacity: .9;
    margin: 0 8px;
    cursor: pointer;
}

a.header--li__link:hover,
p.header--li__link:hover {
    color: var(--hover--font__color);
    opacity: 1;
}

i.fa-solid.fa-angle-down {
    font-size: 14px;
    margin-left: 6px;
}

.header--ul__li {
    position: relative;
}

.header--ul__li:hover .header--suvnav {
    transform: translateY(0);
    visibility: inherit;
    opacity: 1;
}

.header--suvnav {
    position: absolute;
    top: 165%;
    left: 0;
    min-width: 228px;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 0 4px #000;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
    z-index: 10;
}

.header--suvnav::after {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -36px;
    left: 42px;
}

.header--suvnav::before {
    content: "";
    width: 54%;
    height: 30px;
    position: absolute;
    left: 0;
    top: -30px;
    display: block;
    background-color: transparent;
}

ul.header--suvnav__ul {
    list-style: none;
    padding: 16px;
}

a.header--suvnav__ul--li-link {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #ccc;
    opacity: 0.8;
    line-height: 1.6;
}

a.header--suvnav__ul--li-link:hover {
    opacity: 1;
}

.header--suvnav__ul--li:last-child a.header--suvnav__ul--li-link {
    border: none;
}

.header--ul__li:hover .header--suvnav__dchVu {
    transform: translateY(0);
    visibility: inherit;
    opacity: 1;
}

.header--suvnav__dchVu {
    position: absolute;
    top: 165%;
    left: -244px;
    min-width: 820px;
    background: #fff;
    box-shadow: 0 0 4px #000;
    transform: translateY(20px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
    display: flex;
    z-index: 10;
}

.header--suvnav__dchVu::after {
    content: "";
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -36px;
    left: 274px;
}

.header--suvnav__dchVu::before {
    content: "";
    width: 10%;
    height: 30px;
    position: absolute;
    left: 260px;
    top: -30px;
    display: block;
    background-color: transparent;
}

.header--dichvu__khoi1 {
    width: calc(100% / 3);
}

.header--suvnav-dichVu__ul {
    list-style: none;
    padding: 16px;
}

.header--suvnav-dichVu__ul--li-link {
    font-size: 16px;
    color: #222;
    font-weight: 500;
    padding: 8px 0;
    display: block;
    border-bottom: 1px solid #ccc;
    opacity: 0.8;
    line-height: 1.6;
}

.header--suvnav-dichVu__ul--li-link:hover {
    opacity: 1;
}

.header--suvnav-dichVu__ul--li:last-child a.header--suvnav-dichVu__ul--li-link {
    border: none;
}

.link-inDam {
    font-weight: 600;
    opacity: 1;
}

a.header--li__link-phone {
    padding: 10px 16px;
    background: #fff;
    position: relative;
    top: -8px;
    border-radius: 20px;
    background-color: var(--bg-header__top);
    color: var(--white);
    font-weight: 600;
    opacity: .95;
    margin-left: 8px;
}

a.header--li__link-phone:hover {
    opacity: 1;
    box-shadow: 4px 4px 4px rgb(221, 220, 220);
}

a.header--li__link-phone:active {
    box-shadow: none;
}

img.iconPhone {
    position: relative;
    top: 7px;
    left: -4px;
}


/* slider */

p.slider--item__img {
    width: 100%;
}

p.slider--item__img img {
    width: 100%;
    object-fit: cover;
}


/* Page1 */

.page1--container__col {
    background-image: linear-gradient(150deg, #4e2c78 0%, #946cc6 100%);
    margin-top: -6px;
}

.page1--container__item {
    padding: 16px;
    position: relative;
}

.page1--container__col.col.l-3 {}

h4.page1--item__h4 {
    font-size: 22px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 32px;
    font-weight: 600;
}

p.page1--item__p {
    font-size: 16px;
    color: var(--white);
    line-height: 1.6;
    letter-spacing: 1px;
    padding-bottom: 16px;
}

p.icon--bacSy {
    position: absolute;
    top: -30px;
    left: 22px;
    width: 75px;
    z-index: 10;
}

img.icon--bacSy__img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

a.btn-dangky {
    display: block;
    font-size: 16px;
    background: var(--bg-header__top);
    width: 162px;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: 24px;
    border-radius: 20px;
    color: var(--white);
    text-transform: capitalize;
    transition: all .2s ease-in;
}

a.btn-dangky:hover {
    box-shadow: 0 0 1px 2px rgba(240, 122, 5, 0.8), 0 0 1px 8px rgb(248 153 56 /30%), 0 0 1px 18px rgb(248 153 56 /10%)
}


/* page2 */

.page2 {
    background: url('https://alisadental.com/wp-content/uploads/2019/03/background-menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 0;
}

h1.heading {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--bg-header__top);
}

p.heading--p {
    font-size: 16px;
    text-align: center;
    position: relative;
}

p.heading--p::after {
    position: absolute;
    content: "";
    top: 208%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-header__top);
    display: block;
    width: 10%;
    height: 4px;
}

.page2--container__row {
    margin-top: 80px;
}

.page2--container__col {
    margin-bottom: 30px;
}

a.page2--item__img {
    width: 100%;
    display: block;
}

a.page2--item__img img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.page2--container__item {
    position: relative;
}

p.page2--item__p {
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    text-align: center;
    background: rgba(243, 131, 19, .8);
    padding: 12px;
    color: #fff;
    font-size: 16px;
    visibility: initial;
    opacity: 1;
    transform: translateY(0);
    transition: all .2s ease-in;
}

.page2--item__img:hover p.page2--item__p {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-15px);
}

.page2--item__khoi {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 5px);
    width: 100%;
    background-color: rgba(78, 44, 120, 0.8);
    padding: 16px;
    display: flex;
    align-items: center;
    transition: all .2s ease-in;
    transform: scale(.9);
    visibility: hidden;
    opacity: 0;
}

.page2--item__img:hover .page2--item__khoi {
    transform: scale(1);
    visibility: inherit;
    opacity: 1;
}

p.page2--khoi__p-mobile {
    display: none;
    text-align: justify;
    text-align-last: center;
    margin: auto;
}

p.page2--khoi__p-mobile,
p.page2--khoi__p {
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
    letter-spacing: 1px;
}

p.page2--khoi__p span {
    font-weight: 600;
    margin-right: 4px;
}


/* page3 */

.page3 {
    padding: 48px 0;
    background: url('https://alisadental.com/wp-content/uploads/2019/03/background-menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.page3--container__row {
    margin-top: 80px;
}

p.page3--item__img {
    width: 150px;
    margin: auto;
    border-radius: 50%;
}

p.page3--item__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

p.page3--item__ten {
    font-size: 16px;
    text-align: center;
    margin-top: 16px;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    color: rgb(75, 45, 119);
}

p.page3--item__loiNoi {
    font-size: 16px;
    color: #222;
    margin-top: 16px;
    font-style: italic;
    line-height: 1.6;
}

p.page3--item__gach {
    font-size: 16px;
    text-align: center;
    margin-top: 24px;
    color: #222;
}

p.page3--item__thongtin {
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 16px;
    color: rgb(75, 45, 119);
}

p.page3--item__p1 {
    font-size: 16px;
    color: #222;
    margin-bottom: 8px;
    text-align: center;
}

p.page3--item__p1 span {
    font-weight: bold;
    margin-right: 4px;
}

p.page3--item2__img {
    width: 100%;
    height: 100%;
}

p.page3--item2__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* page4 */

.page4 {
    padding: 48px 0;
    background: url('https://alisadental.com/wp-content/uploads/2019/03/background-menu.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

p.page4--item__img {
    width: 100%;
}

p.page4--item__img img {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.page4--container__col-bg {
    background-image: linear-gradient(150deg, #4e2c78 0%, #996ece 100%);
    padding: 0 24px;
}

p.page4--item__kienThuc {
    color: rgb(243, 131, 19);
    margin-top: 42px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

p.page4--item__p {
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

a.page4--item__link1 {
    font-size: 16px;
    color: #fff;
    padding: 8px 0;
    display: block;
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
    transition: all .2s ease-in;
}

a.page4--item__link1:hover {
    color: var(--bg-header__top);
}

p.page4--item__link1-p {
    font-size: 14px;
    color: #fff;
}

.page4--item__link1:last-child {
    border: none;
}


/* footer */

.footer {
    padding: 48px 0;
    background-image: linear-gradient(150deg, #4e2c78 0%, #996ece 100%);
}

a.footer--logo {
    width: 80px;
}

img.footer--logo__img {
    object-fit: cover;
}

p.footer--item__p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
    color: #fff;
    text-align: justify;
}

h4.footer--item__h4 {
    margin-top: 12px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 42px;
    display: block;
    position: relative;
}

h4.footer--item__h4::after {
    position: absolute;
    content: "";
    background-color: #fff;
    display: block;
    width: 36%;
    left: 0;
    bottom: -20px;
    height: 2px;
}

.footer--2 {
    font-size: 14px !important;
}

img.footer--item__img {
    position: relative;
    top: 4px;
    right: 8px;
    bottom: 2px;
}

.footer--bottom {
    padding: 16px;
    background-color: var(--bg-header__top);
}

p.footer--bottom__p {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}


/* Menu */

p.header--menu {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    display: none;
}

.header--suvnav__mobile {
    display: none;
}

.header--__ul--li-logo {
    display: none !important;
}

.header--close {
    display: none;
}

.header--div__logo-mobile-man400 {
    display: none;
}

.header--close--man400 {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    animation: xuong .3s ease-in;
}

@keyframes xuong {
    0% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0);
    }
}


/* slider */

button.owl-prev,
button.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 4px #000;
    background-color: transparent;
}

button.owl-next {
    right: 50px;
    transform: translateX(-80px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
}

.slider--container:hover button.owl-next {
    transform: translateX(0);
    visibility: inherit;
    opacity: 1;
}

button.owl-next span {
    position: absolute;
    top: -12px;
    left: 19px;
    font-size: 50px;
    color: #fff;
}

button.owl-prev {
    left: 50px;
    transform: translateX(80px);
    visibility: hidden;
    opacity: 0;
}

button.owl-next:hover,
button.owl-prev:hover {
    background-color: var(--bg-header__top) !important;
}

.slider--container:hover button.owl-prev {
    transform: translateX(0);
    visibility: inherit;
    opacity: 1;
    transition: all .2s ease-in;
}

button.owl-prev span {
    position: absolute;
    top: -13px;
    left: 16px;
    font-size: 50px;
    color: #fff;
}

.owl-dots {
    display: none;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
    color: var(--bg-header__top);
}

.slick-prev {
    left: -40px;
}

button.slick-next {
    transform: translateX(68px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
}

button.slick-prev {
    transform: translateX(-68px);
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in;
}

.main--slider:hover button.slick-next {
    transform: translateX(0);
    visibility: inherit;
    opacity: 1;
}

.main--slider:hover {
    cursor: -webkit-grab;
    cursor: grab;
}

.main--slider:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.main--slider:hover button.slick-prev {
    transform: translateX(0);
    visibility: inherit;
    opacity: 1;
}

.slick-dots {
    display: none !important;
}


/* liên hệ */

.trangphu--heading {
    background: url('https://alisadental.com/wp-content/uploads/2019/03/Emsworth-Dental-Surgery-1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 24px 0;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.lienhe--container__row {
    padding: 36px 0;
}

.lienhe--container__col.col.l-6 {
    /* margin-top: 36px; */
}

h5.lienhe--item__h5 {
    font-size: 18px;
    color: #222;
    font-weight: 600;
    margin-bottom: 32px;
}

p.lienhe--item__diachi,
p.lienhe--item__fanpage,
p.lienhe--item__hotline {
    font-size: 16px;
    margin-bottom: 16px;
    color: #222;
}

p.lienhe--item__diachi span,
p.lienhe--item__fanpage span,
p.lienhe--item__hotline span {
    font-weight: 600;
    margin-right: 8px;
}

p.lienhe--item__fanpage a {
    color: #222;
}

p.lienhe--item__fanpage a:hover {
    color: var(--bg-header__top);
}

.lienhe--item__map {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
}

.lienhe--item__khachhang {
    position: relative;
    display: inline-block;
}

.lienhe--item__khachhang::after {
    content: "";
    display: block;
    background-color: var(--bg-header__top);
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -14px;
    left: 0;
}


/* form */

.form-select,
.form-input {
    padding: 8px;
    color: #222;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    width: 100%;
}

.form-select:focus,
.form-input:focus {
    box-shadow: 0 0 4px #ccc;
}

.form-input::placeholder {
    font-weight: bold;
    color: rgb(63, 62, 62, 0.6);
}

.form-group {
    margin-bottom: 16px;
}

label.form-label {
    font-size: 16px;
    color: #222;
    margin-bottom: 4px;
    font-weight: 600;
    margin-left: 8px;
    display: block;
}

.form--col__time {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #fff;
    margin-top: 16px;
    border: 1px solid #ccc;
    justify-content: center;
    border-radius: 4px;
}

label.form--col__label {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 8px;
    cursor: pointer;
    opacity: .8;
}

label.form--col__label:hover {
    opacity: 1;
}

input.form--col__input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button.btn--submit {
    padding: 10px 32px;
    font-size: 18px;
    margin-top: 8px;
    background: rgb(255, 68, 0);
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.8;
    animation: nhayMau 1s infinite;
}

@keyframes nhayMau {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 1px 2px rgba(255 68 0 / 80%), 0 0 1px 8px rgb(255 68 0 / 30%), 0 0 1px 18px rgb(255 68 0 / 10%);
    }
}

button.btn--submit:hover {
    opacity: 1;
    transform: scale(1.05);
}

button.btn--submit:active {
    opacity: .8;
    transform: scale(1);
}

.lienhe--form__row {
    margin-top: 28px;
}

.form-group.validate .form-select,
.form-group.validate .form-input {
    border: 1px solid rgba(255, 0, 0, 0.8);
}

.form-group.validate span.form-message {
    color: rgba(255, 0, 0, 0.8);
    margin: 4px;
    display: block;
    text-transform: capitalize;
    font-size: 14px;
}

.margin-top--16px {
    margin-top: 16px;
}


/* modal */

.modal--dangky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal--dangky.display {
    display: flex;
}

.modal--dangky__container {}

.modal--dangky__container {
    background-color: #fff;
    width: 980px;
    max-width: calc(100% - 128px);
    min-height: 200px;
    max-height: 550px;
    border-radius: 4px;
    display: flex;
    box-shadow: 2px 2px 4px #000;
    animation: show2 .4s ease-in;
}

@keyframes show2 {
    0% {
        transform: translateY(-120px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal--item__img {
    width: 100%;
}

.modal--item__img img {
    width: 400px;
    height: 550px;
    object-position: top;
    object-fit: cover;
}

.batbuoc {
    color: red;
}

.modal--container__padding {
    padding: 16px;
}

h4.modal--item__h4 {
    font-size: 20px;
    color: #222;
    margin-bottom: 12px;
    margin-top: 12px;
}

h4.modal--item__h4 span {
    color: var(--bg-header__top);
}

p.modal--item__p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #222;
}

p.modal--item__p1 {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 12px;
    color: #222;
}

input.form-input-modal {
    border-radius: 18px;
    font-size: 16px;
    padding-left: 15px;
}

button.btn-form-modal {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    background-color: rgba(255, 81, 0, 0.8);
    border: 1px solid #ccc;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    color: #fff;
    opacity: .8;
    cursor: pointer;
}

button.btn-form-modal:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    opacity: .8;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close--400 {
    display: none;
}


/* Dịch vụ */

.dichVu--container__header {
    padding: 24px 0;
    background: #343333;
}

.dichVu--container__header {
    display: flex;
}

a.dichVu--header__link {
    font-size: 18px;
    color: #fff;
    margin-right: 8px;
    font-weight: 600;
}

.margin-8px {
    margin-left: 8px !important;
}

a.dichVu--header__link:hover {
    color: var(--bg-header__top);
}

p.dichVu--header__p {
    font-size: 18px;
    color: #fff;
}

p.dichVu--col__item--img {
    width: 100%;
    overflow: hidden;
}

.link--div:hover p.dichVu--col__item--img img {
    transform: scale(1.1);
}

p.dichVu--col__item--img img {
    width: 100%;
    object-fit: cover;
    transition: all .2s ease-in;
}

p.dichVu--col__item-p1 {
    font-size: 18px;
    color: #222;
    margin-bottom: 8px;
    font-weight: 600;
}

.dichVu--col__item-p2 {
    margin-bottom: 8px;
    color: #222;
}

.dichVu--col__item-p3 {
    font-size: 14px;
    color: #222;
    line-height: 1.6;
}

.dichVu--row__col {
    display: flex;
    align-items: center;
}

.dichVu__container--row {
    margin-top: 32px;
}

.dichVu--col__item {
    position: relative;
}

.dichVu--col__item-phu {
    position: absolute;
    top: 32px;
    left: -14px;
    padding: 4px 12px;
    background-color: #fff;
    text-align: center;
    border: 2px solid rgba(255, 81, 0, 0.8);
    transition: all .2s ease-in;
}

p.dichVu--col__phu-p1 {
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 81, 0, 0.8);
    transition: all .2s ease-in;
}

p.dichVu--col__phu-p2 {
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 81, 0, 0.8);
    transition: all .2s ease-in;
}

.link--div {
    display: block;
    margin-bottom: 32px;
}

.link--div:hover .dichVu--col__item-phu {
    background-color: rgba(255, 81, 0);
}

.link--div:hover p.dichVu--col__phu-p1,
.link--div:hover p.dichVu--col__phu-p2 {
    color: #fff;
}

.link--div:hover .dichVu--col__item-p3 {
    color: rgba(255, 81, 0);
}

p.dichVu--container__item-p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(150deg, #4e2c78 0%, #996ece 100%);
    padding: 12px 16px;
    margin-bottom: 16px;
}

p.dichVu--container__item-video {
    width: 100%;
    margin-bottom: 24px;
}

p.dichVu--container__item-video img {
    width: 100%;
    object-fit: cover;
}

a.dichVu--container__item-right--img {
    display: block;
    border: 1px solid #ccc;
    width: 100%;
}

a.dichVu--container__item-right--img img {
    width: 100%;
    object-fit: cover;
}

.box-div--p {
    margin-bottom: 16px;
    margin-top: 16px;
}

.box-div {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 24px;
}

a.box-div--khoi {
    display: flex;
}

a.box-div--khoi:hover p.box-div--khoi__p {
    color: rgba(255, 81, 0);
}

p.box-div--khoi__img {
    width: 120px;
    margin: 0 0 16px 16px;
}

p.box-div--khoi__img img {
    width: 100%;
    object-fit: cover;
}

p.box-div--khoi__p {
    color: #222;
    font-size: 14px;
    font-weight: 600;
    margin: 0 16px 16px 16px;
}


/* Chi tiết */

h3.dichVu__item--left-h3 {
    font-size: 25px;
    color: rgb(78, 44, 120);
    margin-bottom: 12px;
}

p.dichVu__item--left-p {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #222;
}

p.dichVu__item--left-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
    text-align: justify;
    color: #222;
}

p.dichVu__item--left-text span {
    font-weight: 600;
    margin-right: 8px;
    letter-spacing: 1px;
}

p.dichVu__item--left-p1 {
    padding: 16px 16px;
    background-color: #eef9ff;
    border: 1px dashed #047bc1;
    margin-top: 48px;
}

h4.dichVu__item--left-h4 {
    font-size: 22px;
    text-transform: capitalize;
    padding: 8px 16px;
    background-color: rgba(255, 81, 0, 0.9);
    color: #fff;
    margin-bottom: 16px;
}

.font-dam {
    font-weight: 600;
}

p.dichVu__item--left-img {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}

p.dichVu__item--left-img img {
    object-fit: cover;
    width: 100%;
}

.font-nghieng {
    font-style: italic;
}

.dichVu__item--left-text a {
    color: rgb(78, 44, 120);
    transition: all .2s ease-in;
}

.dichVu__item--left-text a:hover {
    color: rgba(255, 81, 0, 0.9);
}

.dichVu__col--row-item-img {
    width: 100%;
    display: block;
}

.dichVu__col--row-item-img img {
    width: 100%;
    object-fit: cover;
}

.dichVu__col--row-col-item {
    padding: 8px;
    margin-bottom: 8px;
}

.dichVu__col--row-item-link {
    color: #222;
    font-size: 14px;
}

.dichVu__col--row-item-link:hover {
    color: rgba(255, 81, 0, 0.9);
}

.dichVu__col--row.row {
    padding: 32px 0;
    border-top: 1px solid #ccc;
    margin: 0 8px;
}

.dichVu__container--item {
    padding-bottom: 18px;
}

.display-flex {
    display: flex;
}

h2.chiTietdichVu {
    display: block;
    width: 100%;
    font-size: 22px;
    margin-bottom: 16px;
    color: rgb(78, 44, 120);
}

.font-center {
    text-align: center;
}

.table--td {
    padding: 12px;
    font-size: 15px;
    font-weight: 400;
    color: #222;
    text-align: center;
}

.table--th {
    padding: 12px;
    font-size: 15px;
    font-weight: 600;
    color: #222;
}

.color-tr {
    background-color: rgb(204, 204, 204, .7);
}

.table {
    margin-bottom: 16px;
    border: 1px solid #ccc;
}

.lienhe,
.dichvu,
section.slider {
    margin-top: 86px;
}